@import url('https://fonts.googleapis.com/css?family=BioRhyme:200');

header{
	background: #FFED74;
}
	#wrapper{
	margin: 0 auto;
}

main{
	text-align: center;
}

h1{
	color: white;
	font-family: "FranklinGothic URW Comp", sans-serif;
	font-size: 90px;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	margin: 1em 1em 1em 1em;
	display: inline-block;
	background: #FFE2B8;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 0px;
}
h2{
	background: #FFC675;
	color: white;
	font-family: 'BioRhyme', serif;
	font-size: 24px;
	font-weight: normal;
	font-style: italic;
	text-align: center;
	text-decoration: none;
	text-transform: lowercase; 
}

#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right{
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

footer{
	background: #FF957E;
	color: white;
	font-family: "FranklinGothic URW Comp", sans-serif;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	}

	nav{
		background: #E8C66A;
		display:inline-block;
	}
a {
	outline: none;
  text-decoration: none;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
a:active {
  color: #636574;
}
a:hover { 
	color: #636574;
}
